@charset "utf-8";
/* CSS Document */

#body
{
	
	background-color: red;
	width: 75%;
}
#artistboxes
{
	width: 60%; 
	display: block;
	margin: 0 auto;
}


#rightImgdiv img {
width: 100%;
}

#hollieline
{
	width:50%;
	
}
